<div class="container my-5">
    <!-- Linha 1 -->
    <div class="row mb-4">
      <div class="col-md-6 text-center">
        <img src="/assets/photo.jpg" class="img-fluid rounded custom-img" alt="Imagem">
      </div>
      <div class="col-md-6">
        <div class="p-4 rounded shadow-sm h-100 text-white" style="background-color: #1a2739;">
          <h4 class="fw-bold fst-italic">Sobre mim</h4>
          <p class="text fst-italic">🚀 Estudante de Programação | Desenvolvedor Front-End | Apaixonado por Tecnologia.<br><br>

            Sou um estudante de programação de 19 anos e tenho um grande interesse em desenvolvimento Front-End e busco constantemente aprimorar minhas habilidades para enfrentar desafios do mundo real.<br><br>
            
            Com uma mentalidade proativa e uma forte vontade de aprender, estou sempre explorando novas tecnologias e metodologias para criar soluções eficientes e inovadoras. Valorizo o trabalho em equipe, a comunicação clara e a busca por experiências que agreguem conhecimento e crescimento profissional.<br><br>
            
            Atualmente, estou em busca de minha primeira oportunidade de estágio ou trabalho na área de tecnologia, onde possa aplicar meus conhecimentos, desenvolver novas habilidades e contribuir com projetos impactantes.
        </p>
        </div>
      </div>
    </div>
    
    <!-- Linha 2 -->
    <div class="row mb-4">
      <div class="col-md-6">
        <div class="p-4 rounded shadow-sm h-100 text-white" style="background-color: #1a2739;">
          <h4 class="fw-bold fst-italic">Educação</h4>
          <p>Fatec - Desenvolvimento de Software Multiplataforma
            <br>Cursando 2º semestre<br><hr>
            Etec - Desenvolvimento de sistemas
            <br>Técnico concluído<br><hr>
            Etec - Técnico em administração integrado ao ensino médio
            <br>Técnico concluído
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-4 rounded shadow-sm h-100 text-white" style="background-color: #1a2739;">
          <h4 class="fw-bold fst-italic">Certificados</h4>
          <div id="carouselCertificados" class="carousel slide d-flex justify-content-center" data-bs-ride="carousel" data-bs-interval="3000">
            <div class="carousel-inner rounded w-50 ">
              <div class="carousel-item active">
                <img src="/assets/certifications/Ambiente de Desenvolvimento Java.jpg" class="d-block w-100" alt="Certificado 1">
              </div>
              <div class="carousel-item">
                <img src="/assets/certifications/Aprendendo a Sintaxe Java.jpg" class="d-block w-100" alt="Certificado 2">
              </div>
              <div class="carousel-item">
                <img src="/assets/certifications/Desafios de Projetos Crie Um Portfólio Vencedor.jpg" class="d-block w-100" alt="Certificado 3">
              </div>
              <div class="carousel-item">
                <img src="/assets/certifications/Desenvolvimento Android 2018 - Aprenda a criar 15 apps.jpg" class="d-block w-100" alt="Certificado 3">
              </div>
              <div class="carousel-item">
                <img src="/assets/certifications/Introdução ao Java Cloud Native com o Bradesco.jpg" class="d-block w-100" alt="Certificado 3">
              </div>
              <div class="carousel-item">
                <img src="/assets/certifications/Introdução à Plataforma Java.jpg" class="d-block w-100" alt="Certificado 3">
              </div>
              <div class="carousel-item">
                <img src="/assets/certifications/Java Completo Do Zero ao Profissional.jpg" class="d-block w-100" alt="Certificado 3">
              </div>
              <div class="carousel-item">
                <img src="/assets/certifications/SQL para Análise de Dados Do Básico ao Avançado.jpg" class="d-block w-100" alt="Certificado 3">
              </div>
              <div class="carousel-item">
                <img src="/assets/certifications/Versionamento de Código com Git e Github.jpg" class="d-block w-100" alt="Certificado 3">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselCertificados" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselCertificados" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Próximo</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Linha 3 -->
    <div class="row">
      <div class="col-md-6">
        <div class="p-4 rounded shadow-sm h-100 text-white" style="background-color: #1a2739;">
          <h4 class="fw-bold fst-italic">Conhecimento</h4>
          <p class="">
            <p class="fs-5 fw-bold fst-italic text-secondary">Linguagens</p>
            <a href="https://skillicons.dev">
              <img src="https://skillicons.dev/icons?i=js,ts,py,java" class="img mt-3" />
            </a>
            <hr>
            <p class="fs-5 fw-bold fst-italic text-secondary">Frameworks</p>
            <a href="https://skillicons.dev">
              <img src="https://skillicons.dev/icons?i=nextjs,react,nodejs,express,flask" class="img mt-3" />
            </a>
            <hr>
            <p class="fs-5 fw-bold fst-italic text-secondary">Ferramentas</p>
            <a href="https://skillicons.dev">
              <img src="https://skillicons.dev/icons?i=docker,git,github,aws,vscode,idea,vercel,vite" class="img mt-3" />
            </a>
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-4 rounded shadow-sm h-100 text-white " style="background-color: #1a2739;">
          <h4 class="fw-bold fst-italic">API desse semestre</h4>
          <p class="d-flex justify-content-center align-items-center flex-column">
            <img src="/assets/api1.png" alt="" class="w-50 rounded-2">
            <h5 class="fw-bold">API - Helpnei</h5 >
            <p class="fst-italic">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe2" viewBox="0 0 16 16">
              <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m7.5-6.923c-.67.204-1.335.82-1.887 1.855q-.215.403-.395.872c.705.157 1.472.257 2.282.287zM4.249 3.539q.214-.577.481-1.078a7 7 0 0 1 .597-.933A7 7 0 0 0 3.051 3.05q.544.277 1.198.49zM3.509 7.5c.036-1.07.188-2.087.436-3.008a9 9 0 0 1-1.565-.667A6.96 6.96 0 0 0 1.018 7.5zm1.4-2.741a12.3 12.3 0 0 0-.4 2.741H7.5V5.091c-.91-.03-1.783-.145-2.591-.332M8.5 5.09V7.5h2.99a12.3 12.3 0 0 0-.399-2.741c-.808.187-1.681.301-2.591.332zM4.51 8.5c.035.987.176 1.914.399 2.741A13.6 13.6 0 0 1 7.5 10.91V8.5zm3.99 0v2.409c.91.03 1.783.145 2.591.332.223-.827.364-1.754.4-2.741zm-3.282 3.696q.18.469.395.872c.552 1.035 1.218 1.65 1.887 1.855V11.91c-.81.03-1.577.13-2.282.287zm.11 2.276a7 7 0 0 1-.598-.933 9 9 0 0 1-.481-1.079 8.4 8.4 0 0 0-1.198.49 7 7 0 0 0 2.276 1.522zm-1.383-2.964A13.4 13.4 0 0 1 3.508 8.5h-2.49a6.96 6.96 0 0 0 1.362 3.675c.47-.258.995-.482 1.565-.667m6.728 2.964a7 7 0 0 0 2.275-1.521 8.4 8.4 0 0 0-1.197-.49 9 9 0 0 1-.481 1.078 7 7 0 0 1-.597.933M8.5 11.909v3.014c.67-.204 1.335-.82 1.887-1.855q.216-.403.395-.872A12.6 12.6 0 0 0 8.5 11.91zm3.555-.401c.57.185 1.095.409 1.565.667A6.96 6.96 0 0 0 14.982 8.5h-2.49a13.4 13.4 0 0 1-.437 3.008M14.982 7.5a6.96 6.96 0 0 0-1.362-3.675c-.47.258-.995.482-1.565.667.248.92.4 1.938.437 3.008zM11.27 2.461q.266.502.482 1.078a8.4 8.4 0 0 0 1.196-.49 7 7 0 0 0-2.275-1.52c.218.283.418.597.597.932m-.488 1.343a8 8 0 0 0-.395-.872C9.835 1.897 9.17 1.282 8.5 1.077V4.09c.81-.03 1.577-.13 2.282-.287z"/>
              </svg> Site: <a href="https://unidos-helpnei.vercel.app/">unidos-helpnei</a>
              <br>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
              <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
              </svg> Github: <a href="https://github.com/matheuskarnas/API-2">github.com/matheuskarnas/API-2</a>
          </p>
            <p class="text fst-italic">A aplicação tem como objetivo fornecer uma plataforma digital intuitiva e acessível para divulgar as empresas patrocinadoras do programa da Helpnei, destacando o impacto positivo de seus investimentos no empreendedorismo local. Através de uma interface clara e objetiva, a aplicação exibe dados essenciais sobre o alcance do patrocínio, incluindo o número de lojas criadas, usuários impactados, cidades atendidas e comunidades beneficiadas.</p>
          </p>
        </div>
      </div>
    </div>
  </div>



  <style>
    .custom-img {
      width: 50%;
    }
  
    @media (max-width: 1399px) {
      .custom-img {
        width: 75% !important;
      }
    }
  
    @media (max-width: 1199px) {
      .custom-img {
        width: 100% !important;
      }
    }

    @media (max-width: 1200px) {
      .img {
        width: 100% !important;
      }
    }

    @media (max-width: 991px) {
      .text {
        font-size: 12px; /* ou o tamanho que você quiser */
      }
}
  </style>
  