<div class="w-100 h-75 p-4 d-flex justify-content-between align-items-center rounded-3" style="background-color: #1a2739;">
    <div class="left d-flex align-items-center justify-content-between">
        <img src="/assets/icone.png" alt="" class="rounded" style="width: 50px; height: auto;">
        <h1 class="fs-4 fw-bold ms-2 mt-2" style="color: #fcfcfc;">ThOMaZMe11o</h1>
        <a href="" class="text-white fs-5 ms-4 mt-1 text-decoration-none">projetos</a>
        <a href="" class="text-white fs-5 ms-4 mt-1 text-decoration-none">sobre mim</a>
    </div>
    <div class="right mt-3">
        <p class="">
            <a href="https://skillicons.dev">
              <img src="https://skillicons.dev/icons?i=js,ts,react,nodejs,next" />
            </a>
          </p>
    </div>
</div>