<header>
    <nav class="navbar">
      <div class="container">
        <a href="/" class="logo">Thomaz Mello</a>
        <ul class="nav-links">
          <li><a href="#home">Home</a></li>
          <li><a href="#habilidades">Habilidades</a></li>
          <li><a href="#projetos">Projetos</a></li>
          <li><a href="#contato">Contato</a></li>
        </ul>
      </div>
    </nav>
  </header>
  