<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Projetos</title>
</head>
<body>
    <h1>Meus Projetos</h1>
    <ul>
        <% projetos.forEach(projeto => { %>
            <li><strong><%= projeto.nome %></strong> - <%= projeto.descricao %></li>
        <% }); %>
    </ul>
</body>
</html>
