/* Asegura que a página ocupe toda a altura da tela */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
}

h1 {
    color: #333;
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
}

footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}
